In [7]:
# using .append() method to add to a list
numbers = [11, 3, 9, 7, 2]
print(numbers)
numbers.append(100)
print(numbers)

[11, 3, 9, 7, 2]
[11, 3, 9, 7, 2, 100]

In [8]:
dir(numbers)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [11]:
numbers.reverse()
numbers

[100, 2, 7, 9, 3, 11]

In [12]:
dir(numbers)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [13]:
numbers.remove(100)
numbers

[2, 7, 9, 3, 11]

In [17]:
# filter only the numbers that you want, using the filter function and an anonymous function
small_numbers = filter(lambda n : n < 9, numbers)
small_numbers

In [18]:
list(small_numbers) # must use list function to demand the numbers

[2, 7, 3]

In [19]:
#slicing lists
numbers

[2, 7, 9, 3, 11]

In [22]:
numbers[:3]

[2, 7, 9]

In [23]:
numbers[::2]

[2, 9, 11]

In [24]:
numbers[-1:1:-2] # when slicing, began at first index, end just before second index and increment in steps of the third number

[11, 9]

In [31]:
#tuples can be accessed like lists but they are immutable (they can't change)
kerry = ("tralee", "dingle", "killarney")
print(kerry)
print(len(kerry))
print(kerry[1])
kerry[0] = "lispole" # error because tuple cannot be changed

('tralee', 'dingle', 'killarney')
3
dingle

TypeError: 'tuple' object does not support item assignment

In [27]:
dir(kerry)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [33]:
test = "kevin", "james", "john"
print(type(test)) # without specifying parentheses, the type of the object is tuple

<class 'tuple'>

In [34]:
#dictionaries store a key/value pair
students = {"t00144808":"Kevin",
            "t00177902":"John",
            "t00199404":"James"}
students

{'t00144808': 'Kevin', 't00177902': 'John', 't00199404': 'James'}

In [37]:
dir(students)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [41]:
#dictionary method .items() returns keys and values
for key, value in students.items():
    print(key, value)

t00144808 Kevin
t00177902 John
t00199404 James

In [42]:
#dictionary method .keys() returns keys
for key in students.keys():
    print(key)

t00144808
t00177902
t00199404

In [39]:
students.keys()

dict_keys(['t00144808', 't00177902', 't00199404'])

In [43]:
#dictionary method .values() returns values
for value in students.values():
    print(value)

Kevin
John
James

In [46]:
#keys can be used the same way as indices in lists and tuples
print(students["t00144808"])
print(students["t00199404"])

Kevin
James

In [47]:
print(len(students))

3

In [49]:
#can add to a dictionary
students["t00166505"] = "Will"
students

{'t00144808': 'Kevin',
 't00166505': 'Will',
 't00177902': 'John',
 't00199404': 'James'}

In [55]:
#measure the frequency of each letter in the sentence using a dictionary called freq
sentence = "the man saw the car in the rain and ran"
freq = {}
for char in sentence.replace(" ",""):
    freq[char] = freq.get(char, 0) + 1
freq

{'a': 6,
 'c': 1,
 'd': 1,
 'e': 3,
 'h': 3,
 'i': 2,
 'm': 1,
 'n': 5,
 'r': 3,
 's': 1,
 't': 3,
 'w': 1}

In [61]:
#visual representation
sentence = "the man saw the car in the rain and ran"
freq = {}
for char in sentence.replace(" ",""):
    freq[char] = freq.get(char, "*") + "**"
freq

{'a': '*************',
 'c': '***',
 'd': '***',
 'e': '*******',
 'h': '*******',
 'i': '*****',
 'm': '***',
 'n': '***********',
 'r': '*******',
 's': '***',
 't': '*******',
 'w': '***'}

In [69]:
multi_line = '''

this is a 
multi line
string


'''
print(multi_line)
print(multi_line)

this is a
multi line
string





this is a
multi line
string

In [71]:
# the .strip string method removes all whitespace at the beginning and end of a string
print(multi_line.strip())
print(multi_line.strip())

this is a
multi line
string
this is a
multi line
string

In [73]:
# the starting number being 0 means this output is not human readable
numbers = [12, 30, 9, 4, 42]

for i, num in enumerate(sorted(numbers)):
    print(i, num)

0 4
1 9
2 12
3 30
4 42

In [74]:
# this is human readable
for i, num in enumerate(sorted(numbers)):
    print(i + 1, num)

1 4
2 9
3 12
4 30
5 42

In [76]:
sorted_numbers = sorted(numbers)
for i, num in enumerate(sorted_numbers[::-1]):
    print(i + 1, num)

1 42
2 30
3 12
4 9
5 4

In [80]:
for i, num in enumerate(reversed(sorted_numbers)):
    print(i + 1, num)

1 42
2 30
3 12
4 9
5 4

In [77]:
dir(sorted_numbers)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [81]:
print(sorted_numbers)

[4, 9, 12, 30, 42]

In [83]:
print(sorted_numbers.reverse())

None